<div class="card ml-8 mr-8 mt-6">
  <p-card header="User Management">
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <p-toast></p-toast>
    <p-table
      #dtUsers
      [value]="(users$ | async)!"
      [(contextMenuSelection)]="selectedUser"
      [contextMenu]="cm"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 25]"
      [globalFilterFields]="['name', 'username', 'email', 'status']"
      styleClass="p-datatable-sm p-datatable-striped"
    >
      <ng-template pTemplate="caption">
        <div class="flex mr-3 ml-3">
          <p-button label="Clear" icon="pi pi-filter-slash" size="small" (click)="clear(dtUsers)" />
          <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dtUsers.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Birthdate</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="name" />
          </th>
          <th>
            <p-columnFilter type="text" field="username" />
          </th>
          <th>
            <p-columnFilter type="text" field="email" />
          </th>
          <th>
            <p-columnFilter type="text" field="birthdate" />
          </th>
          <th>
            <p-columnFilter field="role" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="roles" placeholder="All" (onChange)="filter($event.value)" optionLabel="">
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block vertical-align-middle">
                      <span class="ml-1 mt-1">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="boolean" field="status"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pContextMenuRow]="user">
          <td>{{ user.fullName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.userRole }}</td>
          <td><p-tag [value]="user.status ? 'Active' : 'Inactive'" [severity]="getSeverity(user.status)" [rounded]="true"></p-tag></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button (click)="showDialog()" label="Add User" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </p-card>
</div>
