<div class="flex justify-content-center align-items-center mt-8 p-8">
  <p-card [style]="{ width: '600px' }" class="shadow-8">
    <div class="flex flex-column justify-content-center flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <span style="font-size: 100px;"><strong>Ooops!</strong></span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <span style="font-size: 25px">404 Page Not Found</span>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p class="w-8 text-center">
          The page you are looking for might have been removed or is temporarily unavailable.
        </p>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-button label="Go to Home" [link]="true" routerLink="/homepage" />
      </div>
    </div>
  </p-card>
</div>
